@import "minima";

// Add logo to header
.site-title::before {
	content: url("SWLogo.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}

// Avoid wrapping of email address
.contact-list .u-email { font-size: 95%; }